.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px; /* Уменьшаем отступ сверху */
    margin-bottom: 20px; /* Добавляем отступ снизу */
  }
  
  
  .category-title {
    margin-bottom: 20px;
  }
  