@font-face {
  font-family:'Lobster' ;
  src: url('../Font/Lobster-Regular.ttf');
}
.header {
  background-color: black; 
  color: white; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5px;
  border-radius: 0px;
  position: fixed; 
  top: 0;
  left: 0; 
  width: 100%; 
  z-index: 1000; 
  font-family: 'Lobster', sans-serif;
}

.logo a {
  color: white; 
  text-decoration: none; 
  margin-left: 40px;
}


.documentation-menu {
  position: relative;
  margin-right: 40px; 
}

.documentation-toggle {
  cursor: pointer;
}

.dropdown-content {
  position: absolute;
  top: calc(100% + 5px); 
  left: -20px;
  background-color: #a39595;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  display: none; 
}


.documentation-menu .dropdown-content.open {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}
