.header {
  background-color: black; /* темный фон */
  color: white; /* белый текст */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5px;
  border-radius: 0px;
  position: fixed; /* зафиксировать header */
  top: 0;
  left: 0; /* прижать к верхнему краю страницы */
  width: 100%; /* ширина 100%, чтобы занимал всю ширину экрана */
  z-index: 1000; /* установить высокий z-index, чтобы header был поверх других элементов */
}

.logo {
  margin-left: 40px;
}

.documentation-menu {
  position: relative;
  margin-right: 40px; /* Добавить отступ справа */
}

.documentation-toggle {
  cursor: pointer;
}

.dropdown-content {
  position: absolute;
  top: calc(100% + 5px); /* Расположение меню под кнопкой */
  left: -20px; /* Переместить меню влево на 20px */
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  display: none; /* Изначально скрываем меню */
}

/* Показываем меню, когда .open присутствует */
.documentation-menu .dropdown-content.open {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}
