@font-face {
  font-family:'Bad';
  src: url('../Font/BadScript-Regular.ttf');
}

.container {
    display: flex; 
  }
  
  .sidebar {
    width: 250px; 
    background-color: #9b8f8f; 
    color: rgb(4, 0, 0); 
    padding: 20px; 
    position: fixed; 
    top: 88px; 
    left: 0; 
    bottom: 0; 
    overflow-y: auto; 
    height: calc(100vh - 60px); 
    font-family: 'Bad', sans-serif;
    font-size: 25px;
  }
  
  
  
  
  
  
  .sidebar h2 {
    margin-top: 0; 
  }
  
  .sidebar ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
  }
  
  .sidebar li {
    margin-bottom: 10px; 
  }
  
  .sidebar a {
    color: white; 
    text-decoration: none; 
  }
  
  .sidebar a:hover {
    text-decoration: underline; 
  }
  .main-content {
    flex: 1; 
    padding: 20px; 
    margin-left: 250px; 
  }