.container {
    display: flex; /* Располагаем сайдбар и контент в ряд */
  }
  
  .sidebar {
    width: 250px; /* Ширина сайдбара */
    background-color: #333; /* Цвет фона сайдбара */
    color: white; /* Цвет текста в сайдбаре */
    padding: 20px; /* Внутренние отступы сайдбара */
    position: fixed; /* Позиционирование фиксированное */
    top: 88px; /* Отступ сверху, равный высоте заголовка */
    left: 0; /* Расположить сайдбар в левом краю */
    bottom: 0; /* Растянуть сайдбар до нижнего края страницы */
    overflow-y: auto; /* Добавить прокрутку, если контент слишком большой */
    height: calc(100vh - 60px); /* Высота сайдбара равна высоте окна браузера минус высота заголовка */
  }
  
  
  
  
  
  
  .sidebar h2 {
    margin-top: 0; /* Убрать верхний отступ для заголовка */
  }
  
  .sidebar ul {
    list-style-type: none; /* Убрать маркеры списка */
    padding: 0;
    margin: 0;
  }
  
  .sidebar li {
    margin-bottom: 10px; /* Отступ между категориями */
  }
  
  .sidebar a {
    color: white; /* Цвет текста ссылок */
    text-decoration: none; /* Убрать подчеркивание у ссылок */
  }
  
  .sidebar a:hover {
    text-decoration: underline; /* Добавить подчеркивание при наведении */
  }
  
  .main-content {
    flex: 1; /* Растягиваем основной контент на всю оставшуюся ширину */
    padding: 20px; /* Внутренние отступы контента */
    margin-left: 250px; /* Учитываем ширину сайдбара */
  }
  